<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>    
</head>
<body>
LOGIN
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '548789575565635',
                cookie     : true,
                xfbml      : true,
                version    : 'v3.2'
            });
                
            FB.AppEvents.logPageView();   
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
            
        };
    


        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>